/*=====================!* Common ==================================================*!*/

/*background image container*/
/*body > div:nth-child(1) {*/
/*    position: fixed;*/
/*    margin: 0;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background-image: url("../images/bgi.jpg");*/
/*    background-size: cover;*/
/*}*/


/*all contents inside the body in common*/
body {
    margin: 0;
    width: 100%;
    color: white;

    background-image: url("../images/bgi.jpg");
    background-size: cover;
    /*overflow-x: hidden;*/
}

footer {
    background-color: black;
}

/*=====================!*Header==================================================*!*/

/*container*/
body > header {
    background-color: #24292f;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
    top: 0;
    height: 57px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

/*icon*/
header > img {
    position: relative;
    left: 25px;
    top: 13px;
}

/*heading*/
header > h3 {
    position: absolute;
    margin: auto;
    top: 17px;
    /* bottom: 0; */
    left: 71px;
    font-size: 21px;
    font-family: sans-serif;
    color: white;
}

header > nav {
    position: absolute;
    top: -20px;
    right: 39px;
}

/*home, services, contact me*/
header > nav > ul > li {
    display: inline-block;
    padding: 22px;
    font-family: "system-ui";
    font-size: 17px;
    color: white;
    cursor: pointer;
}

/*contact me*/
header > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

/*change color while hovering*/
header > nav > ul > li > a:hover, header > nav > ul > li:hover {
    color: #ce489e;
}

/*===================!*Personal info ====================================================*!*/
/*section container*/
main > section:nth-child(1) {
    /* display: block; */
    top: 57px;
    position: relative;
    height: 974px;
}

/*article container*/
main > section:nth-child(1) > article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 68vh;
}

/*dd container inside article*/
main > section:nth-child(1) > article > dd {
    position: absolute;
    display: inline-block;
    margin: 0;
    top: 40vh;
    width: 55%;
    height: 27vh;
    left: 44%;
}

/*profile pic*/
main > section:nth-child(1) > article > img {
    position: absolute;
    width: 615px;
    height: 489px;
    left: 0;
    top: 0;
}

/*hi there...*/
main > section:nth-child(1) > :first-child {
    display: inline-block;
    position: relative;
    margin: auto;
    left: 674px;
    top: 136px;

    font-family: 'system-ui';
    font-weight: 400;
    font-size: 32px;
}

/*dasindu hew...*/
main > section:nth-child(1) > h1 {
    display: inline-block;
    position: relative;
    margin: auto;
    left: 487px;
    top: 211px;

    font-family: 'system-ui';
    font-weight: 400;
    font-size: 64px;
}

/*a passionate software dev...*/
main > section:nth-child(1) > article > dd > pre {
    display: inline-block;
    position: relative;
    left: 7px;
    top: 15px;

    font-family: 'system-ui';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
}

/*aside container*/
main > section:nth-child(1) > aside {
    position: absolute;
    display: inline-block;
    margin: 0;
    top: 492px;
    left: 0;
    height: 61vh;
    /*border: 2px solid red;*/
    width: 97%;
}

/*about me*/
main > section:nth-child(1) > aside > h3 {
    position: absolute;
    left: 138px;
    top: 72px;
    text-align: left;

    font-family: 'system-ui';
    font-weight: 400;
    font-size: 32px;
}

/*about me description*/
main > section:nth-child(1) > aside pre {
    position: absolute;
    left: 137px;
    top: 150px;
    text-align: left;

    font-family: system-ui;
    font-weight: 400;
    font-size: 20px;
}

/*download resume button*/
main > section:nth-child(1) > aside > button {
    position: absolute;
    width: 234px;
    height: 52px;
    left: 135px;
    top: 369px;

    background: #317A30;
    border-radius: 10px;
    font-family: 'system-ui';
    color: white;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

/*download resume button click action*/
#download_resume_btn:active {
    background-color: #006021;
}

/*===================!*Education ====================================================*!*/
/*section container*/
main > section:nth-child(2) {
    border: 2px solid red;
    /* display: block; */
    top: 41px;
    position: relative;
    height: 919px;
}

/*heading*/
main > section:nth-child(2) > :first-child { /*<--- heading should be positioned to the center (poddk hoyl blnn)*/
    border: 1px solid red;
    position: absolute;
    left: 679px;
    top: 0;

    font-family: 'system-ui';
    font-weight: 600;
    font-size: 32px;
}

/*line to divide*/
main > section:nth-child(2) > div { /*<--- line should be positioned to the center (poddk hoyl blnn)*/
    position: absolute;
    border: 0.5px solid black;
    /*width: 618px;*/
    height: 618px;
    left: 747.5px;
    top: 135px;
    /*transform: rotate(90deg);*/
}

/*left aside container*/
main > section:nth-child(2) > :nth-child(2) {
    border: 1px solid red;
    display: inline-block;
    position: relative;
    top: 134px;
    left: 32px;
    height: 86vh;
    width: 46vw;
}

/*right aside container*/
main > section:nth-child(2) > :nth-child(4) {
    border: 1px solid red;
    display: inline-block;
    position: relative;
    top: -16px;
    left: 42px;
    height: 86vh;
    width: 46vw;
}

/*left side container first div*/
main > section:nth-child(2) > :nth-child(2) > div:nth-child(1) {
    border: 1px solid red;
    top: 0;
    height: 166px;;
}

/*lyceum logo icon*/
#lyceum_logo {
    position: relative;
    width: 112px;
    height: 102px;
    left: 596px;
    top: -1px;
}

/*lyceum details container*/
#lyceum {
    height: 119px;
    top: 0;
}

/*lyceum heading*/
#lyceum_heading {
    position: absolute;
    left: 229px;
    top: 8px;

    font-family: 'system-ui';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
}

/*lyceum student year*/
#lyceum_year {
    position: absolute;
    left: 461px;
    top: 43px;

    font-family: 'system-ui';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

/*lyceum grades*/
#lyceum_grade > pre {
    position: absolute;
    left: 287px;
    top: 68px;

    font-family: 'system-ui';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    text-align: right;
}

/*left side container second div*/
main > section:nth-child(2) > :nth-child(2) > div:nth-child(2) {
    border: 1px solid red;
    top: 0;
    height: 166px;;
}

/*eastern band container*/
#eb_container {
    height: 119px;
    top: 0;
}


/*lyceum DNA logo*/
#lyceum_DNA_logo {
    position: relative;
    width: 82px;
    height: 66px;
    left: 600px;
    top: 212px;
}

/*eastern band heading*/
#eastern_band {
    position: absolute;
    left: 283px;
    top: 1412px;

    font-family: 'system-ui';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
}

/*eastern band year period*/
#eb_year {
    position: absolute;
}