/*background image*/
/*main > img:nth-child(1) {*/
/*    position: absolute;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    top: 0;*/
/*}*/

/*body > div{*/
/*    position: absolute;*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    background-image: url("../images/bgi.jpg");*/
/*    !*background-color: #ff253a;*!*/
/*    !*bac*!*/
/*}*/


/*body  {*/
/*    background-image: url("../images/bgi.jpg");*/
/*    background-attachment: block;*/
/*    background-position: center;*/

/*    !*width: 100vw;*!*/
/*    !*height: 100vh;*!*/
/*    !*top: 0;*!*/
/*}*/

/*body > section{ */
/*    background-color: transparent */
/*}*/

/*=====================!*Header==================================================*!*/

/*container*/
body > header {
    background-color: #24292f;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
    top: 0;
    height: 57px;
    position: fixed;
    width: 100vw;
}

/*icon*/
header > img {
    position: relative;
    left: 25px;
    top: 13px;
}

/*heading*/
header > h3 {
    position: absolute;
    margin: auto;
    top: 17px;
    /* bottom: 0; */
    left: 71px;
    font-size: 21px;
    font-family: sans-serif;
    color: white;
}

header > nav {
    position: absolute;
    top: -20px;
    right: 39px;
}

/*home, services, contact me*/
header > nav > ul > li {
    display: inline-block;
    padding: 22px;
    font-family: "system-ui";
    font-size: 17px;
    color: white;
}

/*contact me*/
header > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

/*change color while hovering*/
header > nav > ul > li > a:hover, header > nav > ul > li:hover {
    color: #ce489e;
}

/*===================!*Personal info ====================================================*!*/
/*section container*/
main > section:nth-child(1) {
    /* display: block; */
    top: 57px;
    position: relative;
    height: 974px;
}

/*article container*/
main > section:nth-child(1) > article {
    position: absolute;
    top: 0;
    left: 0;
}

/*profile pic*/
main > section:nth-child(1) > article > img {
    position: absolute;
    width: 615px;
    height: 489px;
    left: 0;
    top: 0;
}

/*hi there...*/
main > section:nth-child(1) > :first-child {
    display: inline-block;
    position: relative;
    margin: auto;
    left: 674px;
    top: 136px;

    font-family: 'system-ui';
    font-weight: 400;
    font-size: 32px;
}

/*dasindu hew...*/
main > section:nth-child(1) > h1 {
    display: inline-block;
    position: relative;
    margin: auto;
    left: 487px;
    top: 211px;

    font-family: 'system-ui';
    font-weight: 400;
    font-size: 64px;
}

/*a passionate software dev...*/
main > section:nth-child(1) > article > dd > pre {
    display: inline-block;
    position: absolute;
    left: 678px;
    top: 309px;

    font-family: 'system-ui';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
}

/*about me*/
main > section:nth-child(1) > aside > h3 {
    position: absolute;
    left: 120px;
    top: 543px;

    font-family: 'system-ui';
    font-weight: 400;
    font-size: 32px;
}

/*about me description*/
main > section:nth-child(1) > aside pre {
    position: absolute;
    left: 121px;
    top: 622px;
    text-align: left;

    font-family: system-ui;
    font-weight: 400;
    font-size: 20px;
}

/*download resume button*/
main > section:nth-child(1) > aside > button {
    position: absolute;
    width: 234px;
    height: 52px;
    left: 123px;
    top: 833px;
    background: #317A30;
    border-radius: 10px;

    font-family: 'system-ui';
    color: white;
    font-weight: 400;
    font-size: 20px;
}

/*===================!*Education ====================================================*!*/
/*section container*/
main > section:nth-child(2) {
    /* display: block; */
    top: 41px;
    position: relative;
    height: 919px;
}

/*heading*/
main > section:nth-child(2) > :first-child { /*<--- heading should be positioned to the center (hoyl blnn)*/
    position: absolute;
    left: 679px;
    top: 0;

    font-family: 'system-ui';
    font-weight: 600;
    font-size: 32px;
}

/*line to divide*/
main > section:nth-child(2) > div {
    position: absolute;
    border: 0.5px solid black;
    /*width: 618px;*/
    height: 618px;
    left: 747.5px;
    top: 135px;
    /*transform: rotate(90deg);*/
}

/*left aside container*/
main > section:nth-child(2) > :nth-child(2) {
    display: inline-block;
    position: relative;
    border: 2px solid red;
    top: 103px;
    left: 30px;
    height: 90vh;
    width: 46vw;
}