/*background image*/
/*main > img:nth-child(1) {*/
/*    position: absolute;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    top: 0;*/
/*}*/

/*body > div{*/
/*    position: absolute;*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    background-image: url("../images/bgi.jpg");*/
/*    !*background-color: #ff253a;*!*/
/*    !*bac*!*/
/*}*/


/*body  {*/
/*    background-image: url("../images/bgi.jpg");*/
/*    background-attachment: block;*/
/*    background-position: center;*/

/*    !*width: 100vw;*!*/
/*    !*height: 100vh;*!*/
/*    !*top: 0;*!*/
/*}*/

/*body > section{ */
/*    background-color: transparent */
/*}*/


/*header*/
body > header {
    background-color: #ff0c0c;
    top: 0;
    height: 57px;
    position: fixed;
    width: 100vw;
}

header > img {
    position: relative;
    left: 25px;
    top: 13px;
}

header > h3 {
    position: absolute;
    margin: auto;
    top: 18px;
    /* bottom: 0; */
    left: 64px;
    font-size: 21px;
    font-family: sans-serif;
}

header > nav {
    position: absolute;
    top: -18px;
    right: 35px;
}

/*header > nav > ul {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 3px;*/
/*}*/

header > nav > ul > li {
    display: inline-block;
    padding: 22px;
    font-family: "sans-serif";
    font-size: 17px;
}

